#header .logo {
    color: #FFF;
    padding: 8px 0 0 0;
    text-decoration: none;
    font-size: 14px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.28);
    font-weight: bold;
}

#content > .wrap > .head .page-title {
    float: left;
    display: inline-block;
    padding-left: 10px;
    font-size: 17px;
    color: rgb(43, 88, 122);
    text-transform: uppercase;
    margin: 10px 0;
    font-weight: bold;
}

ul.nav.nav-tabs {
    margin-bottom: 1px;
}

.page-tools {
    float: right;
    display: inline-block;
    padding: 8px;
}

.page-tools ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.page-tools ul li a {
    margin: 0;
}

.toolbar-table-right {
    float: right;
    padding: 5px 5px 0 5px;
}

.row-actions a {
    text-decoration: none;
}

.nav-tabs > li > a {
    border-radius: 1px;
}

.nav-tabs > .active > a {
    font-weight: bold;
}

table tr.success td {
    color: rgb(70, 136, 71);
}

h5.ul-lead {
    margin-bottom: 3px;
}

div.space {
    height: 10px;
    clear: both;
}

#content .block .boxes li span {
    color: inherit !important;
}

#header .buttons .item a.btn-small {
    font-size: 12px;
}

.avatar-select-wrapper, .book-cover-wrapper {
    padding-top: 10px;
    text-align: center;
}

.avatar-select-wrapper .avatar, .book-cover-wrapper .book-cover {
    display: inline-block;
    padding: 5px;
    border: 1px solid #eee;
}

.avatar-select-wrapper .inputs {
    margin: 10px;
}

input.input-file-mask {
    width: 100%;
}

.user-actions {
    text-align: center;
}

input.barcode-scanner {
    /*width: 100%;*/
    width: 155px;
}

input.barcode-scanner:focus {
    outline: none !important;
    box-shadow: 0 0 15px #9ecaed !important;
    border-color: #9ecaed !important;
}

table.bordered-b {
    border-bottom: 1px solid rgb(221, 221, 221);
}

.content-row {
    padding: 8px 10px 3px;
    line-height: 21px;
}

.book-cover {
    max-height: 92px;
    max-width: 92px;
}

.table-info {
    margin: 10px;
    font-weight: bold;
}

.text-disabled, .text-disabled:hover {
    color: rgb(217, 217, 217);
    cursor: default;
}

.highlight {
    font-weight: bold;
}

.username, .document-title {
    font-weight: bold;
    color: rgb(96, 115, 135);
}
table.bordered {
    border: 1px solid rgb(221, 221, 221);
}
